---
interface Props {
	pixelsInViewDistance?: number;
	transitionSpeedMs?: number;
	translateX?: `${'-' | ''}${number}px` | `${'-' | ''}${number}%`;
	translateY?: `${'-' | ''}${number}px` | `${'-' | ''}${number}%`;
	mobileTranslateX?: `${'-' | ''}${number}px` | `${'-' | ''}${number}%`;
	mobileTranslateY?: `${'-' | ''}${number}px` | `${'-' | ''}${number}%`;
	blur?: number;
	transition?: keyof typeof transitions;
}

const {
	pixelsInViewDistance = 50,
	transitionSpeedMs = 300,
	translateX = '0px',
	translateY = '0px',
	mobileTranslateX = translateX,
	mobileTranslateY = translateY,
	transition = 'snappyCurve',
	blur,
} = Astro.props;

const transitions = {
	snappyCurve: 'cubic-bezier(0.39, 0.575, 0.565, 1)',
	excitementCurve: 'cubic-bezier(0.19, 1, 0.22, 1)',
	gracefulCurve: 'cubic-bezier(0.23, 1, 0.32, 1)',
	dramaticCurve: 'cubic-bezier(0.47, 0, 0.745, 0.715)',
	bouncyCurve: 'cubic-bezier(0.71, -0.46, 0.88, 0.45)',
};

const speedVar = `${transitionSpeedMs}ms`,
	varBlur = blur + 'px',
	transitionVar = transitions[transition];
---

<script>
	const fadeInSlots = document.querySelectorAll('.fadeInSlot');

	fadeInSlots.forEach((fadeInSlot) => {
		const offset = +(fadeInSlot?.getAttribute('data-pixels-inview') || 0);

		checkDivPosition(fadeInSlot, offset);
		window.addEventListener('scroll', () =>
			checkDivPosition(fadeInSlot, offset)
		);
	});
	function checkDivPosition(fadeInSlot: Element, offset: number) {
		if (!fadeInSlot) return;
		const { bottom, height } = fadeInSlot.getBoundingClientRect();
		const bottomStartEnd = bottom - (height - offset);
		if (bottomStartEnd <= window.innerHeight) {
			fadeInSlot.classList.add('show');
		} else {
			fadeInSlot.classList.remove('show');
		}
	}
</script>

<div class='fadeInSlot' data-pixels-inview={pixelsInViewDistance}>
	<slot />
</div>

<style
	lang='scss'
	define:vars={{
		speedVar,
		translateX,
		translateY,
		varBlur,
		transitionVar,
		mobileTranslateX,
		mobileTranslateY,
	}}
>
	.fadeInSlot {
		filter: blur(var(--varBlur));
		transition: all var(--speedVar) var(--transitionVar);
		opacity: 0;
		transform: translate(var(--translateX), var(--translateY));
		&.show {
			opacity: 1;
			transform: translate(0);
			filter: blur(0px);
		}
	}
	@media screen and (width < 768px) {
		.fadeInSlot {
			filter: blur(var(--varBlur));
			transition: all var(--speedVar) var(--transitionVar);
			opacity: 0;
			transform: translate(var(--mobileTranslateX), var(--mobileTranslateY));
		}
	}
</style>
